<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} 我賺發</title>
        <meta name="keywords" content="{{  page.keywords }},学习,blog,博客"/>
        <meta name="description" content="linux，android，web，网赚，学习，生活记录" />
		<meta name="baidu-site-verification" content="5avaf3jtxb" />
        <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
        <link href="/prettify/prettify.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="bookmark" href="/favicon.ico"/>
		<script type="text/javascript" src="/jquery.js"></script>
		<script type="text/javascript" src="/prettify/prettify.js"></script>
</head>
<body>
        <div class="wrap">
		<div class="header radius black">
			<h2><a href="{{ site:url  }}">我賺發</a></h2>
			<span class="right">最好用Firefox,Chrome,Safari浏览本站</span>
		</div>
